{% extends "timepiece/project/base.html" %}
{% load timepiece_tags %}

{% block title %} Create Project
{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Create Project</h2>
<form class="form-horizontal" action="" method="post" accept-charset="utf-8">
  {% csrf_token %}
  {{ user_form.as_p }}
  

  <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Next" name="submit" />
                    <input class="btn" type="button" onclick="history.go(-1)" value="Cancel" />
  </div>
</form>
</div>
</div>
{% endblock content %}