{% extends "timepiece/project/base.html" %}
{% load timepiece_tags %}

{% block title %} Edit Project
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="span12">
            <h2>Edit Project</h2>
<form class="form-horizontal" action="" method="post" accept-charset="utf-8">
  {% csrf_token %}
  {{ form.as_p }}
{{ project_formset.management_form }}
{% for form in project_formset %}
<div class ="form-horizontal">
  {{ form }}
</div>
  {% endfor %}

  <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Next" name="submit" />
                    <input class="btn" type="button" onclick="history.go(-1)" value="Cancel" />
  </div>
</form>
</div>
</div>
{% endblock content %}