{% extends "base2.html" %}


{% block title %}Manufacturer{% endblock title %}
{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'list_manufacturers' %}"> Manufacturers</a></li>
{% endblock crumbs %}
{% block content %}
<h3>Delete Manufacturer</h3>
<div class="container-fluid">
<div class="form-horizontal">
<form action="" method="post">
{% csrf_token %}
<p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
<a href="{% url 'list_manufacturers' %}">Cancel</a>
    </form>
</div>
<hr/>
        </div>
{% endblock content %}
