{% extends "base2.html" %}


{% block title %}Locations{% endblock title %}

{% block content %}
<div class="container-fluid">
<h2>Locations </h2>
<a href="{% url 'create_location' %}"> Create New Location</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'merge_locations' %}">Merge Locations</a> 
<hr>           
<br> 
<table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                                {% for location in object_list %}

                        <tr>
                            <td>{{ location.name }}</td>
                            <td><a href="{% url 'edit_location' location.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_location' location.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
     
    </div>
{% endblock content %}
