{% extends "base2.html" %}


{% block title %}Manufacturers{% endblock title %}

{% block content %}
<div class="container-fluid">
<h2>Manufacturers</h2>
<a href="{% url 'create_manufacturer' %}"> Create New Manufacturer</a> &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'merge_manufacturers' %}">Merge Manufacturers</a>
<hr>           
<br> 
<table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>Manufacturer</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                                {% for manufacturer in object_list %}

                        <tr>
                            <td>{{ manufacturer.name }}</td>
                            <td><a href="{% url 'edit_manufacturer' manufacturer.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_manufacturer' manufacturer.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
     
    </div>
{% endblock content %}
