{% extends "base2.html" %}


{% block title %}BOM{% endblock title %}
{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'list_mo' %}">Manufacturing Orders</a></li>
{% endblock crumbs %}
{% block content %}
<h3>Manufacturing Order for {{ mo.number }}</h3>
<p>Created on: {{ mo.date_created }}</p>
<hr/>
<h4>Parts Needed to Make</h4>

<form action="" method="post">
{% csrf_token %}
<button name="addPO" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Add Parts to PO</button>
<br><br>

<table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
			<th>Add to Purchase Order</th>
			<th>Amount to Order</th>
			<th>Total Quantity Needed</th>
			<th>Quantity In Stock</th>
			<th>Location</th>
			<th>Engimusing Part Number</th>
			<th>Description</th>
			<th>Manufacturer</th>
			<th>Manufacturer Part Number</th>
						
                    </tr>
                </thead>
                <tbody>
<tr>
<th colspan="8">Parts</th>
</tr>
                                {% for key, value in parts.items %}

                        <tr>
			    <td><input type="checkbox" name="checkedbox" id="{{ key }}" value="{{ key }}"></td>
			    <td>{{value.1}}</td>
			    <td>{{ value.0 }}</td>
                            <td>{% for stock in key.get_stock %}{{ stock.stock }}</br>{% endfor %}</td>
			    <td>{% for location in key.get_location %}{{ location }}</br>{% endfor %}</td>
			    <td>{{ key.engimusingPartNumber }}</td>
			    <td>{{ key.description }}</td>
			    <td>{% for manu in key.get_manufacturers %}{{ manu }}</br>{% endfor %}</td>
			<td>{% for number in key.get_related %}{{ number }}</br>{% endfor %} </td>
			
                        </tr>
                    {% endfor %}
<tr>
<th colspan="8">Products</th>
</tr>
{% for key, value in products.items %}
<tr>
<td></td>
<td>{{ value.1 }}</td>
<td>{{ value.0 }}</td>
<td>{% for stock in  key.get_stock %}{{ stock.stock }}<br>{% endfor %}</td>
<td>{% for stock in  key.get_stock %}{{ stock.location.name }}<br>{% endfor %}</td>
<td>{{ key.engimusing_product_number }}</td>
<td>{{ key.description }}</td> 
<td></td>
<td></td>
</tr>
{% endfor %}
                </tbody>

            </table>
</form>
{% endblock content %}
