{% extends "base2.html" %}


{% block title %}Product{% endblock title %}

{% block content %}
<div class="container-fluid">
<h2> Products </h2>
<a href="{% url 'create_product' %}"> Create New Product</a>
<hr>           
<br> 
<table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>Description</th>
			<th>Bill Of Materials</th>
			<th>Edit</th>
			<th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                                {% for product in object_list %}

                        <tr>
			    <td><a href="{% url 'product_detail' product.id %}">{{ product.description }}</td>
                            <td><a href="{% url 'bom_detail' product.id %}">BOM</a></td>
                            <td><a href="{% url 'edit_product' product.id%}">Edit</a></td>
			    <td><a href="{% url 'delete_product' product.id%}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
     
    </div>
{% endblock content %}
