{% extends "base2.html" %}


{% block title %}Location{% endblock title %}
{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'list_locations' %}"> Locations</a></li>
{% endblock crumbs %}
{% block content %}
<h3>Update Location and Stock</h3>
<div class="container-fluid">
<div class="form-horizontal">
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="hidden" name="next" value="{{ request.GET.next }}">
<input class="btn btn-primary" type="submit" value="Save"/>
<a class="btn btn-primary" href="{% url 'delete_loc_rel' loc_rel.id %}">Delete</a>
<a class="btn btn-primary" href="{% url 'list_parts' partType.id %}">Cancel</a>
</form>

</div>
<hr/>
        </div>
{% endblock content %}
